<a href="https://colab.research.google.com/github/satyazprakash/PythonPractise/blob/main/PIPE_Module_4_Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

In [ ]:
#
# Repeated actions:
#

print("Enter a value: ")
a = int(input())

print("Enter a value: ")
b = int(input())

print("Enter a value: ")
c = int(input())

Enter a value:
1
Enter a value:
2
Enter a value:
3

# This is what the simplest function definition looks like:

def function_name():
    function_body

It always starts with the keyword def (for define)
next after def goes the name of the function (the rules for naming functions are exactly the same as for naming variables)
after the function name, there's a place for a pair of parentheses (they contain nothing here, but that will change soon)
the line has to be ended with a colon;
the line directly after def begins the function body ‒ a couple (at least one) of necessarily nested instructions, which will be executed every time the function is invoked; note: the function ends where the nesting ends, so you have to be careful.

In [ ]:
#
def message():
  print("Enter a Value")

In [ ]:
def message():
    print("Enter a value: ")

print("We start here.")
print("We end here.")

We start here.
We end here.

In [ ]:
# We've modified the code now ‒ we've inserted the function's invocation between the start and end messages:

def message():
    print("Enter a value: ")

print("We start here.")
message()
print("We end here.")

We start here.
Enter a value:
We end here.

# There are two, very important, catches. Here's the first of them:

You mustn't invoke a function which is not known at the moment of invocation.

Remember - Python reads your code from top to bottom. It's not going to look ahead in order to find a function you forgot to put in the right place ("right" means "before invocation".)

In [ ]:
# Below code will give error
print("We start here.")
message1()
print("We end here.")


def message1():
    print("Enter a value: ")

We start here.

NameError: name 'message1' is not defined

# The second catch sounds a little simpler:

You mustn't have a function and a variable of the same name.

In [ ]:
def message():
    print("Enter a value: ")

message = 1 # Assigning a value to the name message causes Python to forget its previous role. The function named message becomes unavailable.

In [ ]:
# Fortunately, you're free to mix your code with functions ‒ you're not obliged to put all your functions at the top of your source
# Look at the snippet:

print("We start here.")

def message():
    print("Enter a value: ")

message()

print("We end here.")

We start here.
Enter a value:
We end here.

In [ ]:
#Let's return to our primary example, and employ the function for the right job, like here:
def message():
  print("Enter a value: ")

message()
a = int(input())
message()
b = int(input())
message()
c=int(input())

Enter a value:
1
Enter a value:
2
Enter a value:
2

1. A function is a block of code that performs a specific task when the function is called (invoked). You can use functions to make your code reusable, better organized, and more readable. Functions can have parameters and return values.

2. There are at least four basic types of functions in Python:

built-in functions which are an integral part of Python (such as the print() function). You can see a complete list of built-in Python functions at https://docs.python.org/3/library/functions.html.
the ones that come from pre-installed modules (you'll learn about them in the Python Essentials 2 course)
user-defined functions which are written by users for users ‒ you can write your own functions and use them freely in your code,
the lambda functions (you'll learn about them in the Python Essentials 2 course.)
3. You can define your own function using the def keyword and the following syntax:

def your_function(optional parameters):
    # the body of the function

In [ ]:
# You can define a function which doesn't take any arguments, e.g.:
def message(): # defining a function
  print("Hello") # body of the function

message() # calling the function

Hello

In [ ]:
# You can define a function which takes arguments, too, just like the one-parameter function below:

def hello(name):  # defining a function
  print("Hello", name) # body of the function

name = input("Enter your name")

hello(name) # calling the function

Enter your namesatya
Hello satya

# 4.2.1 Parameterized functions
The function's full power reveals itself when it can be equipped with an interface that is able to accept data provided by the invoker. Such data can modify the function's behavior, making it more flexible and adaptable to changing conditions.

A parameter is actually a variable, but there are two important factors that make parameters different and special:

parameters exist only inside functions in which they have been defined, and the only place where the parameter can be defined is a space between a pair of parentheses in the def statement;
assigning a value to the parameter is done at the time of the function's invocation, by specifying the corresponding argument.
def function(parameter):
    ###

Don't forget:

##parameters live inside functions (this is their natural environment)
##arguments exist outside functions, and are carriers of values passed to corresponding parameters.

In [1]:
def message(number):
    print("Enter a number:", number)

message(1)

Enter a number: 1

In [2]:
def message(number):
    print("Enter a number:", number)

number = 1234
message(1)
print(number)

Enter a number: 1
1234

In [3]:
def message(what, number):
    print("Enter", what, "number", number)

message("telephone", 11)
message("price", 5)
message("number", "number")

Enter telephone number 11
Enter price number 5
Enter number number number

# 4.2.2 Positional parameter passing
A technique which assigns the ith (first, second, and so on) argument to the ith (first, second, and so on) function parameter is called positional parameter passing,
while arguments passed in this way are named positional arguments.

In [4]:
def my_function(a,b,c):
  print(a, b, c)


my_function (1,2,3)

1 2 3

In [6]:
def introduction(first_name, last_name):
  print("Hello, my name is ", first_name, last_name)

introduction("Luke", "Skywalker")
introduction("Jesse", "Quick")
introduction("Clark", "Kent")

Hello, my name is  Luke Skywalker
Hello, my name is  Jesse Quick
Hello, my name is  Clark Kent

In [7]:

def introduction(first_name, last_name):
    print("Hello, my name is", first_name, last_name)

introduction("Skywalker", "Luke")
introduction("Quick", "Jesse")
introduction("Kent", "Clark")

Hello, my name is Skywalker Luke
Hello, my name is Quick Jesse
Hello, my name is Kent Clark

# 4.2.3 Keyword argument passing
Python offers another convention for passing arguments, where the meaning of the argument is dictated by its name,
 not by its position ‒ it's called keyword argument passing.

In [8]:
def intruduction(first_name, last_name):
  print("Hello, my name is ", first_name, last_name)

introduction(first_name ="James", last_name = "Bond")
introduction(last_name = "Skywalker", first_name = "Luke")

Hello, my name is James Bond
Hello, my name is Luke Skywalker

In [9]:
# Of course, you mustn't use a non-existent parameter name.
# The following snippet will cause a runtime error:

def introduction(first_name, last_name):
    print("Hello, my name is", first_name, last_name)

introduction(surname="Skywalker", first_name="Luke")

TypeError: introduction() got an unexpected keyword argument 'surname'

# 4.2.4 Mixing positional and keyword arguments
You can mix both styles if you want ‒ there is only one unbreakable rule: you have to put positional arguments before keyword arguments.

In [18]:
#

def adding(a, b, c):
    print(a, "+", b, "+", c, "=", a + b + c)

adding(1, 2, 3)

# Of course, you can replace such an invocation with a purely keyword variant, like this:

adding(c = 3, a = 1, b = 2)

# Let's try to mix both styles now. Look at the function invocation below:

adding(1, c = 3, b = 2)


# Be careful, and beware of mistakes. If you try to pass more than one value to one argument, all you'll get is a runtime error.
# Look at the invocation below - it seems that we've tried to set a twice:
adding(3, a = 1, b = 2)

# Look at the snipet below. A code like this is fully correct, but it doesn't make much sense:
adding(4, 3, c = 2)

1 + 2 + 3 = 6
1 + 2 + 3 = 6
1 + 2 + 3 = 6

TypeError: adding() got multiple values for argument 'a'

# 4.2.5 Parametrized functions – more details
It happens at times that a particular parameter's values are in use more often than others. Such arguments may have their default (predefined) values taken into consideration when their corresponding arguments have been omitted.


They say that the most popular English last name is Smith. Let's try to take this into account.

In [22]:
# The default parameter's value is set using clear and pictorial syntax:
# You only have to extend the parameter's name with the = sign, followed by the default value.

def introduction(first_name, last_name ="Smith"):
  print("Hello, my name is " , first_name, last_name)

#Let's invoke the function as usual:
introduction("James", "Doe")

#
introduction("Henry")
introduction(first_name="William")

Hello, my name is  James Doe
Hello, my name is  Henry Smith
Hello, my name is  William Smith

In [25]:
# You can go further if it's useful. Both parameters have their default values now, look at the code below:

def introduction(first_name="John", last_name="Smith"):
    print("Hello, my name is", first_name, last_name)

# This makes the following invocation absolutely valid:

introduction()

# If you use one keyword argument, the remaining one will take the default value:

introduction(last_name="Hopkins")

Hello, my name is John Smith
Hello, my name is John Hopkins

In [26]:
def hi(name):
    print("Hi,", name)

hi("Greg")

Hi, Greg

In [28]:
def hi_all(name_1, name_2):
    print("Hi,", name_2)
    print("Hi,", name_1)

hi_all("Sebastian", "Konrad")

Hi, Konrad
Hi, Sebastian

In [30]:
# An example of a three-parameter function:

def address11(street, city, postal_code):
    print("Your address is:", street, "St.,", city, postal_code)

s = input("Street: ")
p_c = input("Postal Code: ")
c = input("City: ")
address(s, c, p_c)

Street: 1
Postal Code:
City:
Your address is: 1 St.,

2. You can pass arguments to a function using the following techniques:

positional argument passing in which the order of arguments passed matters (Ex. 1)
keyword (named) argument passing in which the order of arguments passed doesn't matter (Ex. 2)
a mix of positional and keyword argument passing (Ex. 3.)

In [33]:
#Ex. 1
def subtra(a, b):
    print(a - b)

subtra(5, 2) # outputs: 3
subtra(2, 5) # outputs: -3


#Ex. 2
def subtra(a, b):
    print(a - b)

subtra(a=5, b=2) # outputs: 3
subtra(b=2, a=5) # outputs: 3

#Ex. 3
def subtra(a, b):
    print(a - b)

subtra(5, b=2) # outputs: 3
subtra(5, 2) # outputs: 3

3
-3
3
3
3
3

In [34]:
#

def name(first_name, last_name="Smith"):
    print(first_name, last_name)

name("Andy") # outputs: Andy Smith
name("Betty", "Johnson") # outputs: Betty Johnson (the keyword argument replaced by "Johnson")

Andy Smith
Betty Johnson


# 4.3.1 Effects and results: the return instruction

In [37]:
# return without an expression

def happy_new_year(wishes = True):
    print("Three...")
    print("Two...")
    print("One...")
    if not wishes:
        return

    print("Happy New Year!")

happy_new_year()

# Providing False as an argument:

happy_new_year(False)

Three...
Two...
One...
Happy New Year!
Three...
Two...
One...

In [39]:
# return with an expression
# The second return variant is extended with an expression:

# There are two consequences of using it:
# it causes the immediate termination of the function's execution (nothing new compared to the first variant)
# moreover, the function will evaluate the expression's value and will return it (hence the name once again) as the function's result.

def function():
    return expression


def boring_function():
    return 123

x = boring_function()

print("The boring_function has returned its result. It's:", x)

The boring_function has returned its result. It's: 123

def boring_function():
  print("Boredome Mode ' ON. ")
  return 123

print("This lesson is interesting !")
boring_function()
print("This Lesson is boring... ")

# 4.3.2 A few words about None

Let us introduce you to a very curious value (a none value) named None.

Its data doesn't represent any reasonable value ‒ actually, it's not a value at all; hence, it mustn't take part in any expressions.


There are only two kinds of circumstances when None can be safely used:

when you assign it to a variable (or return it as a function's result)
when you compare it with a variable to diagnose its internal state.

In [41]:
# For example, a snippet like this:

print(None + 2)

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [43]:
# Just like here:

value = None
if value is None:
    print("Sorry, you don't carry any value")


# Don't forget this: if a function doesn't return a certain value using a return expression clause, it is assumed that it implicitly returns None.

def strange_function(n):
  if(n % 2 == 0):
    return True

print(strange_function(2))
print(strange_function(1))

Sorry, you don't carry any value
True
None

In [46]:
# 4.3.3 Effects and results: lists and functions

# The first is: may a list be sent to a function as an argument?

# So, if you pass a list to a function, the function has to handle it like a list.
# A function like this one here:

def list_sum(lst):
    s = 0

    for elem in lst:
        s = s + elem

    return s

# Invoked:

print(list_sum([5, 4, 3]))

# but you should expect problems if you invoke it in this risky way:

print(list_sum(5))

12

TypeError: 'int' object is not iterable

In [48]:
# The second question is: may a list be a function result?

# Yes, of course! Any entity recognizable by Python can be a function result.

def strange_list_func(n):
  strange_list = []

  for i in range(0, n):
    strange_list.insert(0,i)

  return strange_list

print(strange_list_func(5))
print(strange_list_func(10))

[4, 3, 2, 1, 0]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [51]:
# 4.3.4   LAB   A leap year: writing your own functions
# Your task is to write and test a function which takes one argument (a year) and returns True if the year is a leap year, or False otherwise.

def is_year_leap(year):
    #
     if year % 4 == 0:
      return True
     else:
      return False
    #

test_data = [1900, 2000, 2016, 1987]
test_results = [False, True, True, False]

for i in range(len(test_data)):
    yr = test_data[i]
    print(yr,"->",end="")
    result = is_year_leap(yr)
    if result == test_results[i]:
        print("OK")
    else:
        print("Failed")

1900 ->Failed
2000 ->OK
2016 ->OK
1987 ->OK

# 4.3.5   LAB   How many days: writing and using your own functions
Your task is to write and test a function which takes two arguments (a year and a month) and
returns the number of days for the given year-month pair (while only
February is sensitive to the year value, your function should be universal).

In [57]:
def is_year_leap(year):
    #
    if year % 4 != 0:
        return False
    elif year % 100 != 0:
        return True
    elif year % 400 != 0:
        return False
    else:
        return True
    #

def days_in_month(year, month):
    # Leap Calculation
    if is_year_leap(year) == True:
       if month in ( 1, 3, 5, 7, 8, 10, 12):
        print("The no of days for the Year month Combination is ", 31)
        return 31
       if month in (4, 6, 9, 11):
        print("The no of days for the Year month Combination is ", 30)
        return 30
       else:
        print("The no of days for the Year month Combination is ", 29)
        return 29
    # Non Leap Calculation
    else:
       if month in ( 1, 3, 5, 7, 8, 10, 12):
        print("The no of days for the Year month Combination is ", 31)
        return 31
       if month in (4, 6, 9, 11):
        print("The no of days for the Year month Combination is ", 30)
        return 30
       else:
        print("The no of days for the Year month Combination is ", 28)
        return 28

test_years = [1900, 2000, 2016, 1987]
test_months = [2, 2, 1, 11]
test_results = [28, 29, 31, 30]
for i in range(len(test_years)):
    yr = test_years[i]
    mo = test_months[i]
    print(yr, mo, "->", end="")
    result = days_in_month(yr, mo)
    if result == test_results[i]:
        print("OK")
    else:
        print("Failed")

1900 2 ->The no of days for the Year month Combination is  28
OK
2000 2 ->The no of days for the Year month Combination is  29
OK
2016 1 ->The no of days for the Year month Combination is  31
OK
1987 11 ->The no of days for the Year month Combination is  30
OK

# 4.3.6   LAB   Day of the year: writing and using your own functions
Your task is to write and test a function which takes three arguments (a year, a month, and a day of the month)
and returns the corresponding day of the year, or returns None if any of the arguments is invalid.

In [ ]:
## Need to complete this :  4.3.7   LAB   Prime numbers ‒ how to find them

def is_year_leap(year):
    #
    if year % 4 != 0:
        return False
    elif year % 100 != 0:
        return True
    elif year % 400 != 0:
        return False
    else:
        return True
    #

def days_in_month(year, month):
    #
    # Leap Calculation
    if is_year_leap(year) == True:
       if month in ( 1, 3, 5, 7, 8, 10, 12):
        print("The no of days for the Year month Combination is ", 31)
        return 31
       if month in (4, 6, 9, 11):
        print("The no of days for the Year month Combination is ", 30)
        return 30
       else:
        print("The no of days for the Year month Combination is ", 29)
        return 29
    # Non Leap Calculation
    else:
       if month in ( 1, 3, 5, 7, 8, 10, 12):
        print("The no of days for the Year month Combination is ", 31)
        return 31
       if month in (4, 6, 9, 11):
        print("The no of days for the Year month Combination is ", 30)
        return 30
       else:
        print("The no of days for the Year month Combination is ", 28)
        return 28
    #

def day_of_year(year, month, day):
    days = 0
    for m in range(1, month):
        # ...
        # if statement
            # ...
        days = days + md
    md = days_in_month(year, month)

    if day >= 1 and day <= md:
        # ...
    else:
        # ...

print(day_of_year(2000, 12, 31))

# 4.3.7   LAB   Prime numbers ‒ how to find them
A natural number is prime if it is greater than 1 and has no divisors other than 1 and itself.
Your task is to write a function checking whether a number is prime or not.

The function:

is called is_prime;
takes one argument (the value to check)
returns True if the argument is a prime number, and False otherwise.

In [114]:
#
def is_prime(num):
  if num == 0 or num ==1 :
    print("The number is NOT a Prime Number : ", num)
    return False
  else:
    prime_flagcheck = True
    i = 2
    while i <= (num//2) :
      if (num //2) / i == 0:
        print("Print Statement of num//i ", i, num)
        return False
      if (num //2 )/ i != 0 and (num//2) == i :
        print("Print Statement of second if in while ", i, num)
        return True
      i = i + 1

print(is_prime(10))

Print Statement of second if in while  5 10
True

In [105]:
5//2

2

# 4.4.1 Functions and scopes

The scope of a name (e.g., a variable name) is the part of a code where the name is properly recognizable.

In [115]:
# The answer is: a variable existing outside a function has scope inside the function's body.
# This rule has a very important exception.

def my_function():
    print("Do I know that variable?", var)


var = 1
my_function()
print(var)

Do I know that variable? 1
1

In [116]:
# The result changed now, since the variable var is overwritten in the function definition.
# A variable existing outside a function has scope inside the function's body, excluding those which define a variable of the same name.
# It also means that the scope of a variable existing outside a function is supported only when getting its value (reading).
# Assigning a value forces the creation of the function's own variable.


def my_function():
    var = 2
    print("Do I know that variable?", var)


var = 1
my_function()
print(var)

Do I know that variable? 2
1

In [117]:
# 4.4.2 Functions and scopes: the global keyword
# There's a special Python method which can extend a variable's scope in a way which includes the function's body (even if you want not only to read the values, but also to modify them).
# Such an effect is caused by a keyword named global:

def my_function():
  global var
  var = 2
  print("Do in Know that variable ?", var)

var = 1
my_function()
print(var)

Do in Know that variable ? 2
2

#4.4.3 How the function interacts with its arguments

In [118]:
# As you can see, the function changes the value of its parameter. Does the change affect the argument?
# The conclusion is obvious ‒ changing the parameter's value doesn't propagate outside the function
# This also means that a function receives the argument's value, not the argument itself. This is true for scalars.

def my_function(n):
  print("I got ", n)
  n = n + 1
  print("I have ", n)

var = 1
my_function(var)
print(var)

I got  1
I have  2
1

In [120]:
def my_function(my_list_1):
  print("Print #1: ", my_list_1)
  print("Print #2: ", my_list_2)
  my_list_1 = [0,1]
  print("Print #3: ", my_list_1)
  print("Print #4: ", my_list_2)

my_list_2 = [2,3]
my_function(my_list_2)
print("Print #5: ", my_list_2)

Print #1:  [2, 3]
Print #2:  [2, 3]
Print #3:  [0, 1]
Print #4:  [2, 3]
Print #5:  [2, 3]

In [121]:
def my_function(my_list_1):
    print("Print #1:", my_list_1)
    print("Print #2:", my_list_2)
    del my_list_1[0] # Pay attention to this line.
    print("Print #3:", my_list_1)
    print("Print #4:", my_list_2)


my_list_2 = [2, 3]
my_function(my_list_2)
print("Print #5:", my_list_2)

Print #1: [2, 3]
Print #2: [2, 3]
Print #3: [3]
Print #4: [3]
Print #5: [3]

In [122]:

var = 2


def mult_by_var(x):
    return x * var


print(mult_by_var(7)) # outputs: 14

14

In [123]:

def mult(x):
    var = 5
    return x * var


print(mult(7)) # outputs: 35

35

In [124]:
def mult(x):
    var = 7
    return x * var


var = 3
print(mult(7)) # outputs: 49

49

In [126]:
def adding(x):
    var1 = 7
    return x + var


print(adding(4)) # outputs: 11
print(var1) # NameError

7

NameError: name 'var1' is not defined

In [127]:

var = 2
print(var) # outputs: 2


def return_var():
    global var
    var = 5
    return var


print(return_var()) # outputs: 5
print(var) # outputs: 5

2
5
5

In [8]:
def bmi(weight, height):
    return weight / height ** 2


print(bmi(60.0, 1.75))

19.591836734693878

In [11]:
def bmi(weight, height):
    if height < 1.0 or height > 2.5 or \
    weight < 20 or weight > 200:
        return None

    return weight / height ** 2

def lb_to_kg(lb):
    return lb * 0.45359237

def ft_and_inch_to_m(ft, inch = 0.0):
    return ft * 0.3048 + inch * 0.0254


print(ft_and_inch_to_m(6))

print(lb_to_kg(1))

print(bmi(352.5, 1.65))

0.3302
0.45359237
None

In [12]:
def ft_and_inch_to_m(ft, inch = 0.0):
    return ft * 0.3048 + inch * 0.0254


def lb_to_kg(lb):
    return lb * 0.4535923


def bmi(weight, height):
    if height < 1.0 or height > 2.5 or weight < 20 or weight > 200:
        return None

    return weight / height ** 2


print(bmi(weight = lb_to_kg(176), height = ft_and_inch_to_m(5, 7)))

27.56520982857069

In [13]:
def is_a_triangle(a, b, c):
    if a + b <= c:
        return False
    if b + c <= a:
        return False
    if c + a <= b:
        return False
    return True


print(is_a_triangle(1, 1, 1))
print(is_a_triangle(1, 1, 3))

True
False

In [14]:
def is_a_triangle(a, b, c):
    if a + b <= c or b + c <= a or c + a <= b:
        return False
    return True


print(is_a_triangle(1, 1, 1))
print(is_a_triangle(1, 1, 3))

True
False

In [15]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b


print(is_a_triangle(1, 1, 1))
print(is_a_triangle(1, 1, 3))

True
False

Triangles and the Pythagorean theorem
Look at the code in the editor. It asks the user for three values. Then it makes use of the is_a_triangle function. The code is ready to run.

In [16]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b


a = float(input('Enter the first side\'s length: '))
b = float(input('Enter the second side\'s length: '))
c = float(input('Enter the third side\'s length: '))

if is_a_triangle(a, b, c):
    print('Yes, it can be a triangle.')
else:
    print('No, it can\'t be a triangle.')

Enter the first side's length: 6
Enter the second side's length: 5
Enter the third side's length: 4
Yes, it can be a triangle.

We will need to make use of the Pythagorean theorem:

c2 = a2 + b2

How do we recognize which of the three sides is the hypotenuse?

The hypotenuse is the longest side.

In [20]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b


def is_a_right_triangle(a, b, c):
    if not is_a_triangle(a, b, c):
        return False
    if c > a and c > b:
        return c ** 2 == a ** 2 + b ** 2
    if a > b and a > c:
       return c ** 2 == a ** 2 + b ** 2 if a > b and a > c
    if a > b and a > c:
        return a ** 2 == b ** 2 + c ** 2
print(is_a_right_triangle(5, 3, 4))
print(is_a_right_triangle(1, 3, 4))

SyntaxError: expected 'else' after 'if' expression (ipython-input-4022008685.py, line 11)

In [21]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b


def heron(a, b, c):
    p = (a + b + c) / 2
    return (p * (p - a) * (p - b) * (p - c)) ** 0.5


def area_of_triangle(a, b, c):
    if not is_a_triangle(a, b, c):
        return None
    return heron(a, b, c)


print(area_of_triangle(1., 1., 2. ** .5))

0.49999999999999983

# 4.5.3 Sample functions: Factorials

In [22]:
def factorial_function(n):
    if n < 0:
        return None
    if n < 2:
        return 1

    product = 1
    for i in range(2, n + 1):
        product *= i
    return product


for n in range(1, 6):  # testing
    print(n, factorial_function(n))

1 1
2 2
3 6
4 24
5 120

# 4.5.4 Fibonacci numbers
They are a sequence of integer numbers built using a very simple rule:

the first element of the sequence is equal to one (Fib1 = 1)
the second is also equal to one (Fib2 = 1)
every subsequent number is the the_sum of the two preceding numbers:(Fibi = Fibi-1 + Fibi-2)

In [23]:
def fib(n):
    if n < 1:
        return None
    if n < 3:
        return 1

    elem_1 = elem_2 = 1
    the_sum = 0
    for i in range(3, n + 1):
        the_sum = elem_1 + elem_2
        elem_1, elem_2 = elem_2, the_sum
    return the_sum


for n in range(1, 10): # testing
    print(n, "->", fib(n))

1 -> 1
2 -> 1
3 -> 2
4 -> 3
5 -> 5
6 -> 8
7 -> 13
8 -> 21
9 -> 34

# 4.5.5 Recursion

There's one more thing we want to show you to make everything complete − it's recursion.

This term may describe many different concepts, but one of them is especially interesting − the one referring to computer programming.

In this field, recursion is a technique where a function invokes itself.

These two cases seem to be the best to illustrate the phenomenon − factorials and Fibonacci numbers. Especially the latter.

The Fibonacci numbers definition is a clear example of recursion. We already told you that:

Fibi = Fibi-1 + Fibi-2

In [24]:


def fib(n):
    if n < 1:
        return None
    if n < 3:
        return 1
    return fib(n - 1) + fib(n - 2)

In [ ]:
def factorial_function(n):
    if n < 0:
        return None
    if n < 2:
        return 1
    return n * factorial_function(n - 1)

In [25]:
def fib(n):
    if n < 1:
         return None
    if n < 3:
        return 1

    elem_1 = elem_2 = 1
    the_sum = 0
    for i in range(3, n + 1):
        the_sum = elem_1 + elem_2
        elem_1, elem_2 = elem_2, the_sum
    return the_sum


for n in range(1, 10):
    print(n, "->", fib(n))

1 -> 1
2 -> 1
3 -> 2
4 -> 3
5 -> 5
6 -> 8
7 -> 13
8 -> 21
9 -> 34

In [26]:
# Recursive implementation of the factorial function.

def factorial(n):
    if n == 1: # The base case (termination condition.)
        return 1
    else:
        return n * factorial(n - 1)


print(factorial(4)) # 4 * 3 * 2 * 1 = 24

24

In [2]:
my_tuple = (1, 10, 100, 1000)

print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[1:])
print(my_tuple[:-2])

for elem in my_tuple:
  print(elem)

1
1000
(10, 100, 1000)
(1, 10)
1
10
100
1000

In [3]:
# All of these instructions (except the topmost one) will cause a runtime error:

my_tuple = (1, 10, 100, 1000)

my_tuple.append(10000)
del my_tuple[0]
my_tuple[1] = -10

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
my_tuple = (1, 10, 100)

t1 = my_tuple + (1000, 10000)
t2 = my_tuple * 3

print(len(t2))
print(t1)
print(t2)
print(10 in my_tuple)
print(-10 not in my_tuple)

9
(1, 10, 100, 1000, 10000)
(1, 10, 100, 1, 10, 100, 1, 10, 100)
True
True

In [5]:

var = 123

var = 123

t1 = (1,)
t2 = (2,)
t3 = (3, var)

t1 , t2, t3 = t2, t3, t1

print(t1, t2, t3)

(2,) (3, 123) (1,)

# 4.6.3 Dictionaries
The dictionary is another Python data structure. It's not a sequence type (but can be easily adapted to sequence processing) and it is mutable.

In [8]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}
phone_numbers = {'boss': 5551234567, 'Suzy': 22657854310}
empty_dictionary = {}

dictionary = {"cat": "chat", "dog": "chien", "horse" : "cheval"}
phone_numbers = {"boss": 5551234567, "suzy":22657854310}
empty_dictionary = {}

print(dictionary)
print(phone_numbers)
print(empty_dictionary)

print(dictionary['cat'])
print(phone_numbers['suzy'])

{'cat': 'chat', 'dog': 'chien', 'horse': 'cheval'}
{'boss': 5551234567, 'suzy': 22657854310}
{}
chat
22657854310

In [9]:

dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}
words = ['cat', 'lion', 'horse']

for word in words:
  if word in dictionary:
    print(word, "->", dictionary[word])
  else:
    print(word, "is not in dictionary")

cat -> chat
lion is not in dictionary
horse -> cheval

In [ ]:
# This kind of formatting is called a hanging indent.

# Example 1:
dictionary = {
              "cat": "chat",
              "dog": "chien",
              "horse": "cheval"
}
# Example 2:
phone_numbers = {'boss': 5551234567,
              'Suzy': 22657854310
}

# 4.6.4 Dictionary methods and functions
The keys() method

The first of them is a method named keys(), possessed by each dictionary. The method returns an iterable object consisting of all the keys gathered within the dictionary. Having a group of keys enables you to access the whole dictionary in an easy and handy way.

In [2]:
dictionary = {"cat": "chat", "dog" : "chien", "horse": "cheval"}

for key in dictionary.keys():
  print(key, "->", dictionary[key])

dictionary = {"cat"}

cat -> chat
dog -> chien
horse -> cheval

In [4]:
# Let's now have a look at a dictionary method called items().
# The method returns tuples (this is the first example where tuples are something more than just an example of themselves) where each tuple is a key-value pair.
# This is how it works:

dictionary = {"cat": "chat", "doc": "chien", "horse": "cheval"}

for english, french in dictionary.items():
  print(english, "->", french)

cat -> chat
doc -> chien
horse -> cheval

In [5]:
dictionary = {"cat": "chat", "dog": "chien", "horse" : "cheval"}

dictionary['cat'] = 'minou'

print(dictionary)

{'cat': 'minou', 'dog': 'chien', 'horse': 'cheval'}

In [7]:
# Do you want it sorted? Just enrich the for loop to get such a form:

for key in sorted(dictionary.keys()):
    print(key, "->", dictionary[key])

cat -> minou
dog -> chien
horse -> cheval

In [8]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}


for french in dictionary.values():
  print(french)

chat
chien
cheval

In [9]:
# Adding a new key
# Adding a new key-value pair to a dictionary is as simple as changing a value – you only have to assign a value to a new, previously non-existent key.

dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}
dictionary['swan'] = 'cygne'

print(dictionary)

{'cat': 'chat', 'dog': 'chien', 'horse': 'cheval', 'swan': 'cygne'}

In [10]:
# You can also insert an item to a dictionary by using the update() method, e.g.:

dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}

dictionary.update({"duck": "canard"})
print(dictionary)

{'cat': 'chat', 'dog': 'chien', 'horse': 'cheval', 'duck': 'canard'}

In [13]:
# Removing a key
# Note: removing a key will always cause the removal of the associated value. Values cannot exist without their keys.
# This is done with the del instruction.

dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}

del dictionary['dog']
print(dictionary)

# Note: removing a non-existing key causes an error.

{'cat': 'chat', 'horse': 'cheval'}

In [14]:
# To remove the last item in a dictionary, you can use the popitem() method:

dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}

dictionary.popitem()
print(dictionary) # outputs: {'cat': 'chat', 'dog': 'chien'}

{'cat': 'chat', 'dog': 'chien'}

# 4.6.5 Tuples and dictionaries can work together
We've prepared a simple example, showing how tuples and dictionaries can work together.

In [22]:
school_class = {}

while True:
  name = input("ENter the students's Name : ")
  if name == '':
      break

  score = int(input("Enter the students Score (0-10): "))
  if score not in range(0,11):
      break

  if name in school_class:
    school_class [name] += (score,)
  else:
    school_class[name] = (score,)

for name in sorted(school_class.keys()):
    adding = 0
    counter = 0
    for score in school_class[name]:
        adding = adding + score
        counter = counter + 1
    print(name, ":", adding / counter )

ENter the students's Name : satya
Enter the students Score (0-10): 7
ENter the students's Name : priya
Enter the students Score (0-10): 9
ENter the students's Name :
priya : 9.0
satya : 7.0

In [23]:
# 1. Tuples are ordered and unchangeable (immutable) collections of data. They can be thought of as immutable lists. They are written in round brackets:
# Each tuple element may be of a different type (i.e., integers, strings, booleans, etc.). What is more, tuples can contain other tuples or lists (and the other way round).

my_tuple = (1,2, True, "a string", (3,4), [5,6],None )
print(my_tuple)

my_list = [1,2,True, "a string", (3,4), [5,6], None]
print(my_list)

(1, 2, True, 'a string', (3, 4), [5, 6], None)
[1, 2, True, 'a string', (3, 4), [5, 6], None]

In [24]:
# 2. You can create an empty tuple like this:

empty_tuple = ()
print(type(empty_tuple)) # outputs: <class 'tuple'>

<class 'tuple'>

In [27]:
# 3. A one-element tuple may be created as follows:

one_elem_tuple_1 = ("one",) # Brackets and a comma.
one_elem_tuple_2 = "one",  # No brackets, just a comma.

print(one_elem_tuple_1)
print(one_elem_tuple_2)

# If you remove the comma, you will tell Python to create a variable, not a tuple:

my_tuple_3 = 1,
print(type(my_tuple_3)) # outputs: <class 'tuple'>

my_tuple_4 = 1 # This is not a tuple.
print(type(my_tuple_4)) # outputs: <class 'int'>

('one',)
('one',)
<class 'tuple'>
<class 'int'>

In [28]:
# You can access tuple elements by indexing them:

my_tuple = (1,2.0,"string", [3,4],(5,), True)

print (my_tuple[3]) # outputs: [3, 4]

[3, 4]

In [29]:
# 5. Tuples are immutable, which means you cannot change their elements (you cannot append tuples, or modify, or remove tuple elements).
# The following snippet will cause an exception:

my_tuple = (1,2.0,"string",[3,4],(5,),True)
my_tuple[2] = "guitar"  # The TypeError exception will be raised.

TypeError: 'tuple' object does not support item assignment

In [30]:
# However, you can delete a tuple as a whole:

my_tuple = 1, 2, 3,
my_tuple = 1,2,3,
del my_tuple
print(my_tuple) # NameError: name 'my_tuple' is not defined

NameError: name 'my_tuple' is not defined

In [33]:
# 6. You can loop through a tuple elements (Example 1), check if a specific element is (not)present in a tuple (Example 2),
# use the len() function to check how many elements there are in a tuple
# (Example 3), or even join/multiply tuples (Example 4):
# Example 1
tuple_1 = (1,2,3)
for elem in tuple_1:
  print(elem)

# Example 2
tuple_2 = (1,2,3,4)
print(5 in tuple_2)
print(5 not in tuple_2)

# Example 3
tuple_3 = (1,2,3,4)
print(len(tuple_3))
print(5 not in tuple_3)

# Example 4
tuple_4 = tuple_1 + tuple_2
tuple_5 = tuple_3 * 5

print(tuple_4)
print(tuple_5)

1
2
3
False
True
4
True
(1, 2, 3, 1, 2, 3, 4)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [34]:
# You can also create a tuple using a Python built-in function called tuple().
# This is particularly useful when you want to convert a certain iterable (e.g., a list, range, string, etc.) to a tuple:

my_tuple = tuple((1,2,"string"))
print(my_tuple)

my_list = [2,4,6]
print(my_list) # outputs: [2, 4, 6]
print(type(my_list)) # outputs: <class 'list'>
tup = tuple(my_list)
print(tup) # outputs: (2, 4, 6)
print(type(tup)) # outputs: <class 'tuple'>

(1, 2, 'string')
[2, 4, 6]
<class 'list'>
(2, 4, 6)
<class 'tuple'>

In [35]:
# By the same fashion, when you want to convert an iterable to a list, you can use a Python built-in function called list():

tup = 1,2,3,
my_list = list(tup)
print(type(my_list))  # outputs: <class 'list'>

<class 'list'>

In [ ]:
# 1. Dictionaries are unordered*, changeable (mutable), and indexed collections of data.
# (*Since Python 3.6x dictionaries have become ordered by default.)

my_dictionary = {
    key1: value1,
    key2: value2,
    key3: value3,
}

In [36]:
# 2. If you want to access a dictionary item, you can do so by making a reference
# to its key inside a pair of square brackets (ex. 1) or by using the get() method (ex. 2):

pol_eng_dictionary = {
    "kwait":"flower",
    "woda":"water",
    "gleba":"soil"
}

item_1 = pol_eng_dictionary["gleba"] # ex. 1
print(item_1) # outputs: soil

item_2 = pol_eng_dictionary.get("woda") # ex. 2
print(item_2) # outputs: water

soil
water

In [ ]:
# 3. If you want to change the value associated with a specific key,
# you can do so by referring to the item's key name in the following way:

pol_eng_dictionary = {
    "kwait":"flower",
    "woda":"water",
    "gleba":"soil"
}
pol_eng_dictionary["zamek"] = "lock"
item = pol_eng_dictionary["zamek"]
print(item) # outputs: lock
print(pol_eng_dictionary)

lock
{'kwait': 'flower', 'woda': 'water', 'gleba': 'soil', 'zamek': 'lock'}

In [39]:
# 4. To add or remove a key (and the associated value), use the following syntax:

phonebook = {} # an empty dictionary

phonebook["Adam"] = 3456783958 # create/add a key-value pair
print(phonebook) # outputs: {'Adam': 3456783958}

del phonebook["Adam"]
print(phonebook) # outputs: {}

{'Adam': 3456783958}
{}

In [41]:
# You can also insert an item into a dictionary by using the update() method,
# and remove the last element by using the popitem() method, e.g.:


pol_eng_dictionary = {"kwiat": "flower"}

pol_eng_dictionary.update({"gleba":"soil"})
print(pol_eng_dictionary) # outputs: {'kwiat': 'flower', 'gleba': 'soil'}

pol_eng_dictionary.popitem()
print(pol_eng_dictionary) # outputs: {'kwiat': 'flower'}

{'kwiat': 'flower', 'gleba': 'soil'}
{'kwiat': 'flower'}

In [45]:
# 5. You can use the for loop to loop through a dictionary, e.g.:

pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }

for item in pol_eng_dictionary:
  print(item)

for key, value in pol_eng_dictionary.items():
  print("Pol/Eng ->", key, ":", value)

zamek
woda
gleba
Pol/Eng -> zamek : castle
Pol/Eng -> woda : water
Pol/Eng -> gleba : soil

In [46]:
# 7. To check if a given key exists in a dictionary, you can use the in keyword:

pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }

if "zamek" in pol_eng_dictionary:
  print("Yes")
else:
  print("No")

Yes

In [47]:
# 8. You can use the del keyword to remove a specific item, or delete a dictionary.
# To remove all the dictionary's items, you need to use the clear() method:

pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }
print(len(pol_eng_dictionary)) # outputs: 3
del pol_eng_dictionary["zamek"] # remove an item
print(len(pol_eng_dictionary)) # outputs: 2

pol_eng_dictionary.clear() # removes all the items
print(len(pol_eng_dictionary)) # outputs: 0

del pol_eng_dictionary # removes the dictionary

3
2
0

In [49]:
# 9. To copy a dictionary, use the copy() method:

pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }

copy_dictionary = pol_eng_dictionary.copy()

print(copy_dictionary)
print(pol_eng_dictionary)

{'zamek': 'castle', 'woda': 'water', 'gleba': 'soil'}
{'zamek': 'castle', 'woda': 'water', 'gleba': 'soil'}

In [50]:

my_tup = (1, 2, 3)
print(my_tup[2])

3

In [51]:
tup = 1, 2, 3
a, b, c = tup

print(a * b * c)

6

In [52]:
tup = 1, 2, 3, 2, 4, 5, 6, 2, 7, 2, 8, 9
duplicates = tup.count(2)

print(duplicates)    # outputs: 4

4

In [55]:

d1 = {'Adam Smith': 'A', 'Judy Paxton': 'B+'}
d2 = {'Mary Louis': 'A', 'Patrick White': 'C'}
d3 = {}

for item in (d1, d2):
    # Write your code here.
    d3.update(item)
print(d3)

{'Adam Smith': 'A', 'Judy Paxton': 'B+', 'Mary Louis': 'A', 'Patrick White': 'C'}

In [56]:
# Question 5: Write a program that will convert the my_list list to a tuple.

my_list = ["car", "Ford", "flower", "Tulip"]

# t = # Write your code here.
t = tuple(my_list)

print(t)

('car', 'Ford', 'flower', 'Tulip')

In [57]:
# Question 6: Write a program that will convert the colors tuple to a dictionary.
colors = (("green", "#008000"), ("blue", "#0000FF"))

# Write your code here.
colors_dictionary = dict(colors)

print(colors_dictionary)

{'green': '#008000', 'blue': '#0000FF'}

In [58]:
#

my_dictionary = {"A": 1, "B": 2}
copy_my_dictionary = my_dictionary.copy()
my_dictionary.clear()

print(copy_my_dictionary)

{'A': 1, 'B': 2}

In [59]:
# Question 8: What is the output of the following program?

colors = {
    "white": (255, 255, 255),
    "grey": (128, 128, 128),
    "red": (255, 0, 0),
    "green": (0, 128, 0)
    }

for col, rgb in colors.items():
    print(col, ":", rgb)

white : (255, 255, 255)
grey : (128, 128, 128)
red : (255, 0, 0)
green : (0, 128, 0)

# 4.7 Section 7 – Exceptions

## 4.7.3 The try-except branch

In [ ]:
# Actually, the rule reads: "it's better to handle an error when it happens than to try to avoid it".
#
"Okay," you may say now, 'but how should I beg for forgiveness when the program is terminated and there is nothing
# left that can be done?" This is where the exception comes on the scene.
'''
try:
	# It's a place where
	# you can do something
    # without asking for permission.
except:
	# It's a spot dedicated to
    # solemnly begging for forgiveness.
'''

In [61]:
#Prog 1 :

value = int(input('Enter a natural number: '))
print('The reciprocal of', value, 'is', 1/value)

Enter a natural number: 5
The reciprocal of 5 is 0.2

In [63]:
# Using Try and Except Block:
try:
  value = int(input("Enter a natural Number: "))
  print("The reciprocal of ", value , "is", 1/value)

except:
  print("I do not know what to do.")

Enter a natural Number: a
I do not know what to do.

In [67]:
# Two exceptions after one try

# Look at the code in the editor. As you can see, we've just introduced the second except branch. This is not the only difference –
# note that both branches have exception names specified. In this variant, each of the expected exceptions has its own way of handling the error,
# but it must be emphasized that only one of all branches can intercept the control – if one of the branches is executed, all the other branches remain idle.

try:
  value = int(input("Enter a natural number: "))
  print('The reciprocal of ', value, "is", 1/value)
except ValueError:
  print("I do not know what to do.")
except ZeroDivisionError:
  print("Division by zero is not allowed in our Universe.")

Enter a natural number: a
I do not know what to do.

In [68]:
# 4.7.6 The default exception and how to use it
try:
  value = int(input("Enter a natural number: "))
  print("The reciprocal of ", value ,"is", 1/value)

except ValueError:
    print('I do not know what to do.')
except ZeroDivisionError:
    print('Division by zero is not allowed in our Universe.')
except:
    print('Something strange has happened here... Sorry!')

Enter a natural number: 2
The reciprocal of  2 is 0.5

# 4.7.7 Some useful exceptions
## ZeroDivisionError:
This appears when you try to force Python to perform any operation which provokes division in which the divider is zero, or is indistinguishable from zero.
Note that there is more than one Python operator which may cause this exception to raise. Can you guess them all?

Yes, they are: /, //, and %.

## ValueError
Expect this exception when you're dealing with values which may be inappropriately used in some context.
In general, this exception is raised when a function (like int() or float()) receives an argument of a proper type, but its value is unacceptable.

## TypeError
This exception shows up when you try to apply a data whose type cannot be accepted in the current context. Look at the example:

short_list = [1]
one_value = short_list[0.5]
You're not allowed to use a float value as a list index (the same rule applies to tuples, too).
TypeError is an adequate name to describe the problem, and an adequate exception to raise.

## AttributeError
This exception arrives – among other occasions – when you try to activate a method which doesn't exist in an item you're dealing with.
For example:
short_list = [1]
short_list.append(2)
short_list.depend(3)
The third line of our example attempts to make use of a method which isn’t contained in the lists.
This is the place where AttributeError is raised.

## SyntaxError
This exception is raised when the control reaches a line of code which violates Python's grammar.
It may sound strange, but some errors of this kind cannot be identified without first running the code.
This kind of behavior is typical of interpreted languages – the interpreter always works in a hurry and has no time to scan the whole source code.
It is content with checking the code which is currently being run. An example of such a category of issues will be presented very soon.

It's a bad idea to handle this exception in your programs. You should produce code that is free of syntax errors, instead of masking the faults you’ve caused.

In [ ]:
# 4.7.8 Why you can’t avoid testing your code