<a href="https://colab.research.google.com/github/satyazprakash/PythonPractise/blob/main/Python_PCPA_Module_2_Samples11-Sep2025-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 2.1 Section 1 – Characters and Strings vs. Computers

# Example 1

word = 'by'
print(len(word))


# Example 2

empty = ''
print(len(empty))


# Example 3

i_am = 'I\'m'
print(len(i_am))

2
0
3

In [4]:
# 2.2.2 Multiline strings

multiline = '''Line #1 contens
Line #2 contents'''

print(len(multiline))
print(multiline)

32
Line #1 contens
Line #2 contents

In [5]:
str1 = 'a'
str2='b'

print(str1 + str2)
print(str2 + str1)
print(5 * 'a')
print('b' * 4)

ab
ba
aaaaa
bbbb

In [8]:
# Demonstrating the ord() function.
char_1 = 'α'
char_2 = 'ę' # space

print(ord(char_1))
print(ord(char_2))

945
281

In [10]:
# chr()
# If you know the code point (number) and want to get the corresponding character, you can use a function named chr().
# The function takes a code point and returns its character.
# Invoking it with an invalid argument (e.g., a negative or invalid code point) causes ValueError or TypeError exceptions.
# Demonstrating the chr() function.

print(chr(97),chr(98),chr(99),chr(100),chr(102),chr(103),chr(104),)
print(chr(945), chr(946), chr(947),chr(948), chr(949), chr(950))

a b c d f g h
α β γ δ ε ζ

In [ ]:

print(chr(ord(x)) == x
ord(chr(x)) == x

# 2.2.4 Strings as sequences
Indexing
We told you before that Python strings are sequences. It's time to show you what that actually means.

Strings aren't lists, but you can treat them like lists in many particular cases.

In [3]:
# Indexing strings.
the_string = 'silly walks'

for idx in range ( len(the_string)):
  print(the_string[idx], end = ' ')

#print()

s i l l y   w a l k s

In [4]:
# Iterating, Iterating through the strings works, too. Look at the example below:

the_string = 'silly walks'

for character in the_string:
  print(character, end = ' ')

s i l l y   w a l k s

In [11]:
# 2.2.5 Slices
# Moreover, everything you know about slices is still usable.
# We've gathered some examples showing how slices work in the string world.

# Slices

alpha = "abdefg"
print(alpha[1:3])
print(alpha[:3])
print(alpha[3:-2])
print(alpha[-3:4])
print(alpha[::2])
print(alpha[1::2])

bd
abd
e
e
adf
beg

In [12]:
# 2.2.6 The in and not in operators
# The in operator shouldn't surprise you when applied to strings –
# it simply checks if its left argument (a string) can be found anywhere within the right argument (another string).

alphabet = "abcdefghijklmnopqrstuvwxyz"

print("f" in alphabet)
print("F" in alphabet)
print("1" in alphabet)
print("ghi" in alphabet)
print("Xyz" in alphabet)

True
False
False
True
False

In [13]:
# The not in operator
# As you probably suspect, the not in operator is also applicable here.

alphabet = "abcdefghijklmnopqrstuvwxyz"

print("f" not in alphabet)
print("F" not in alphabet)
print("1" not in alphabet)
print("ghi" not in alphabet)
print("Xyz" not in alphabet)

False
True
True
False
True

# 2.2.7 Python strings are immutable
We've also told you that Python's strings are immutable. This is a very important feature. What does it mean?

This primarily means that the similarity of strings and lists is limited. Not everything you can do with a list may be done with a string.

The first important difference doesn't allow you to use the del instruction to remove anything from a string.

In [14]:
# The example here won't work:

alphabet = "abcdefghijklmnopqrstuvwxyz"
del alphabet[0]

TypeError: 'str' object doesn't support item deletion

In [16]:
# # The example here will work:

alphabet = "abcdefghijklmnopqrstuvwxyz"
del alphabet
print(alphabet)

NameError: name 'alphabet' is not defined

In [17]:
# The example below is erroneous:

alphabet = "abcdefghijklmnopqrstuvwxyz"
alphabet.append("A")

AttributeError: 'str' object has no attribute 'append'

In [18]:
# with the absence of the append() method, the insert() method is illegal, too:

alphabet = "abcdefghijklmnopqrstuvwxyz"

alphabet.insert(0,"A")

AttributeError: 'str' object has no attribute 'insert'

In [20]:
# Don't think that a string's immutability limits your ability to operate with strings.
# The only consequence is that you have to remember about it, and implement your code in a slightly different way – look at the example code in the editor.

alphabet = "bcdefghijklmnopqrstuvwxy"

alphabet = "a" + alphabet
alphabet = alphabet + "z"

print(alphabet)

# This form of code is fully acceptable, will work without bending Python's rules, and will bring the full Latin alphabet to your screen:
# You may want to ask if creating a new copy of a string each time you modify its contents worsens the effectiveness of the code.

# Yes, it does. A bit. It's not a problem at all, though.

abcdefghijklmnopqrstuvwxyz

# 2.2.8 Operations on strings: continued

min()
Now that you understand that strings are sequences, we can show you some less obvious sequence capabilities. We'll present them using strings, but don't forget that lists can adopt the same tricks, too.

Let's start with a function named min().

The function finds the minimum element of the sequence passed as an argument. There is one condition – the sequence (string, list, it doesn't matter) cannot be empty, or else you'll get a ValueError exception.

In [22]:
# Demonstrating min() - Example 1:
print(min("aAbByYzZ"))

# Demonstrating min() - Examples 2 & 3:
#t = 'The Knights Who Say "Ni!"'
t = 'TheKnightsWhoSay"Ni!"'
print('[' + min(t) + ']')

t =[0,1,2]

print(min(t))

A
[!]
0

In [23]:
# max()
# Similarly, a function named max() finds the maximum element of the sequence.
# Demonstrating max() - Example 1:

print(max("aAbByYzZ"))

# Demonstrating max() - Examples 2 & 3:
t = 'The Knights Who Say "Ni!"'
print('[' + max(t) + ']')

t = [0, 1, 2]
print(max(t))

z
[y]
2

# The index() method
The index() method (it's a method, not a function) searches the sequence from the beginning, in order to find the first element of the value specified in its argument.

The method returns the index of the first occurrence of the argument (which means that the lowest possible result is 0, while the highest is the length of the argument decremented by 1).

In [26]:
## Demonstrating the index() method:
print("aAbByYzZaA".index("A"))
print("aAbByYzZaA".index("Y"))
print("aAbByYzZaA".index("A"))

string="Satya Prakash"
print(string.index('a'))
print(string.index("P"))
print(string.index("h"))

1
5
1
1
6
12

# The list() function
The list() function takes its argument (a string) and creates a new list containing all the string's characters, one per list element.

Note: it's not strictly a string function - list() is able to create a new list from many other entities (e.g., from tuples and dictionaries).

Take a look at the code example in the editor.

In [28]:
# Demonstrating the list() function:
string="satya prakash"
print(list(string))
print(list("abcabc"))

['s', 'a', 't', 'y', 'a', ' ', 'p', 'r', 'a', 'k', 'a', 's', 'h']
['a', 'b', 'c', 'a', 'b', 'c']

#The count() method
The count() method counts all occurrences of the element inside the sequence. The absence of such elements doesn't cause any problems.

In [29]:
# Demonstrating the count() method:
string = "satya prakash"

print(string.count('a'))
print("abcabc".count('b'))

4
2

In [30]:
print(len("\n\n"))

2

In [32]:
asterisk = '*'
plus = "+"
decoration = (asterisk + plus) * 14 + asterisk
print(decoration)

*+*+*+*+*+*+*+*+*+*+*+*+*+*+*

In [33]:
chr(ord(character)) == character
ord(chr(codepoint)) == codepoint

NameError: name 'codepoint' is not defined

#  2.3 Section 3 – String Methods

# 2.3.1 The capitalize() method

The capitalize() method does exactly what it says – it creates a new string filled with characters taken from the source string, but it tries to modify them in the following way:

if the first character inside the string is a letter (note: the first character is an element with an index equal to 0, not just the first visible character), it will be converted to upper-case;
all remaining letters from the string will be converted to lower-case.
Don't forget that:

the original string from which the method is invoked is not changed in any way – a string's immutability must be obeyed without reservation;
the modified string (in this case, capitalized) is returned as a result – if you don't use it in any way (assign it to a variable, or pass it to a function/method) it will disappear without a trace.

In [2]:
# Demonstrating the capitalize() method:
string = "SATYA PRAKASH"
string1 = " SATYA PRAKASH"

print(string.capitalize())
print(string1.capitalize())
print('aBcD'.capitalize())

Satya prakash
 satya prakash
Abcd

In [3]:
print("Alpha".capitalize())
print('ALPHA'.capitalize())
print(' Alpha'.capitalize())
print('123'.capitalize())
print("αβγδ".capitalize())

Alpha
Alpha
 alpha
123
Αβγδ

# 2.3.2 The center() method
The one-parameter variant of the center() method makes a copy of the original string, trying to center it inside a field of a specified width.

The centering is actually done by adding some spaces before and after the string.

In [5]:
# Demonstrating the center() method:

print('[' + 'alpha'.center(10) + ']')

print('satya'.center(50))
print('['+'satya'.center(50)+']')

[  alpha   ]
                      satya
[                      satya                       ]

In [9]:
print('[' + 'Beta'.center(2) + ']')
print('[' + 'Beta'.center(4) + ']')
print('[' + 'Beta'.center(6) + ']')

print('[' + 'gamma'.center(20, '*') + ']')
print('gamma'.center(20,'*'))

[Beta]
[Beta]
[ Beta ]
[*******gamma********]
*******gamma********

# 2.3.3 The endswith() method
The endswith() method checks if the given string ends with the specified argument and returns True or False, depending on the check result.

In [12]:
# Demonstrating the endswith() method:
if "epsilon".endswith("on"):
    print("yes")
else:
    print("no")

if "satyaprakash".endswith("ash"):
  print('Yes')
else:
  print('No')

string='input Text'

if string.endswith("text"):
  print("Yes")
else:
  print("No")

yes
Yes
No

In [13]:
t = "zeta"
print(t.endswith("a"))
print(t.endswith("A"))
print(t.endswith("et"))
print(t.endswith("eta"))

True
False
False
True

# 2.3.4 The find() method

The find() method is similar to index(), which you already know – it looks for a substring and returns the index of the first occurrence of this substring, but:

it's safer – it doesn't generate an error for an argument containing a non-existent substring (it returns -1 then)
it works with strings only – don't try to apply it to any other sequence.

In [17]:
# Demonstrating the find() method:
print("Eta".find("ta"))
print("Eta".find("mma"))

print("Satya Prakash".find('Pra'))
print("Satya Prakash".find('pra'))

string ='satya Prakash'
print(string.find('Pra'))

1
-1
6
-1
6

In [19]:
t = 'theta'

print(t.find('eta'))
print(t.find('et'))
print(t.find('the'))
print(t.find('ha'))

2
2
0
-1

In [ ]:
# If you want to perform the find, not from the string's beginning, but from any position,
# you can use a two-parameter variant of the find() method. Look at the example:

In [28]:
# The second argument specifies the index at which the search will be started (it doesn't have to fit inside the string).

print('kappa'.find('a', 2))

print('kappa'.find('p',0))
print('kappa'.find('p',1))

4
2
2

In [30]:
the_text = """A variation of the ordinary lorem ipsum
text has been used in typesetting since the 1960s
or earlier, when it was popularized by advertisements
for Letraset transfer sheets. It was introduced to
the Information Age in the mid-1980s by the Aldus Corporation,
which employed it in graphics and word-processing templates
for its desktop publishing program PageMaker (from Wikipedia)"""

find_value = the_text.find('the')

while find_value != -1 :
  print(find_value)
  find_value = the_text.find('the', find_value + 1)

15
80
198
221
238

In [31]:
# There is also a three-parameter mutation of the find() method –
# the third argument points to the first index which won't be taken into consideration during the search (it's actually the upper limit of the search).

print('kappa'.find('a', 1, 4))
print('kappa'.find('a', 2, 4))

1
-1

In [35]:
# 2.3.5 The isalnum() method

# The parameterless method named isalnum() checks if the string contains only digits or
# alphabetical characters (letters), and returns True or False according to the result.

# Demonstrating the isalnum() method:
print('lambda30'.isalnum())
print('lambda'.isalnum())
print('30'.isalnum())
print('@'.isalnum())
print('lambda_30'.isalnum())
print(''.isalnum())

string='satya'
print(string , " tested for isalnum() : ", string.isalnum())
string='satya30'
print(string , " tested for isalnum() : ", string.isalnum())
string='123456789'
print(string , " tested for isalnum() : ", string.isalnum())
string='@#$%^'
print(string , " tested for isalnum() : ", string.isalnum())
string='satya_12345'
print(string , " tested for isalnum() : ", string.isalnum())
string=''
print(string , " tested for isalnum() : ", string.isalnum())
string='     '
print(string , " tested for isalnum() : ", string.isalnum())

True
True
True
False
False
False
satya  tested for isalnum() :  True
satya30  tested for isalnum() :  True
123456789  tested for isalnum() :  True
@#$%^  tested for isalnum() :  False
satya_12345  tested for isalnum() :  False
  tested for isalnum() :  False
       tested for isalnum() :  False

In [36]:
# Three more intriguing examples are here:

t = 'Six lambdas'
print(t.isalnum())

t = '&Alpha;&beta;&Gamma;&delta;'
print(t.isalnum())

t = '20E1'
print(t.isalnum())

False
False
True

# 2.3.6 The isalpha() method
The isalpha() method is more specialized – it's interested in letters only.

In [39]:
# Example 1: Demonstrating the isapha() method:
print("Moooo".isalpha())
print('Mu40'.isalpha())
print('String '.isalpha())
print('String_'.isalpha())

True
False
False
False

# 2.3.7 The isdigit() method
In turn, the isdigit() method looks at digits only – anything else produces False as the result.

In [44]:
# Example 2: Demonstrating the isdigit() method:

print('2018'.isdigit())
print('Year2019'.isdigit())

string='2049'
print(string.isdigit())

True
False
True

2.3.8 The islower() method
The islower() method is a fussy variant of isalpha() – it accepts lower-case letters only.

In [48]:
# Example: Demonstrating the islower() method:
print("Moooo".islower())
print('moooo'.islower())
string='Satya Prakash'
print(string.islower())
string='satya prakash'
print(string.islower())
string='SATYA PRAKASH'
print(string.islower())

False
True
False
True
False

# 2.3.9 The isspace() method
The isspace() method identifies whitespaces only – it disregards any other character (the result is False then).

In [51]:
# Example: Demonstrating the isspace() method:
print(' \n '.isspace())
print(" ".isspace())
print("mooo mooo mooo".isspace())

string = ' satya  prakash '
print(string.isspace())
string = '   '
print(string.isspace())

True
True
False
False
True

# 2.3.10 The isupper() method
The isupper() method is the upper-case version of islower() – it concentrates on upper-case letters only.

In [55]:
# Example: Demonstrating the isupper() method:
print("Moooo".isupper())
print('moooo'.isupper())
print('MOOOO'.isupper())

string='Satya'
print(string.isupper())
string='SATYA'
print(string.isupper())

False
False
True
False
True

# 2.3.11 The join() method
The join() method is rather complicated, so let us guide you through it step by step:

as its name suggests, the method performs a join – it expects one argument as a list; it must be assured that all the list's elements are strings – the method will raise a TypeError exception otherwise;
all the list's elements will be joined into one string but...
...the string from which the method has been invoked is used as a separator, put among the strings;
the newly created string is returned as a result.

In [5]:
# 2.3.11 The join() method

# Demonstrating the join() method:
#print(",".join(["omicron", "pi", "rho"]))
print(",".join(["omicron","pi","rho"]))

print("-".join(["satya","prakash","priyanka"]))

string1="satya"
string2="prakash"
string3="priyanka"

print("#".join([string1, string2, string3]))

omicron,pi,rho
satya-prakash-priyanka
satya#prakash#priyanka

In [ ]:
# 2.3.12 The lower() method
The lower() method makes a copy of a source string, replaces all upper-case letters with their lower-case counterparts,
and returns the string as the result. Again, the source string remains untouched.
If the string doesn't contain any upper-case characters, the method returns the original string.

Note: The lower() method doesn't take any parameters.

In [7]:
# Demonstrating the lower() method:
print("SiGmA=60".lower())

string1="Satya"
string2="SATYA"
string3="SaTyA"
string4="satya"

print(string1.lower())
print(string2.lower())
print(string3.lower())
print(string4.lower())

sigma=60
satya
satya
satya
satya

In [13]:
# 2.3.13 The lstrip() method
#The parameterless version of the lstrip() method returns a newly created string formed from the original one by removing all leading whitespaces.

# Demonstrating the lstrip() method:
print("[" + " tau ".lstrip() + "]")

string1 = '   Satya'
string2= 'Satya   '
string3= '   Satya   '

print('[' + string1.lstrip()+']')
print('['+string2.lstrip() +']')
print('['+string3.lstrip()+']')

[tau ]
[Satya]
[Satya   ]
[Satya   ]

In [15]:
# The one-parameter version of the lstrip() method does the same as its parameterless version,
# but removes all characters enlisted in its argument (a string), not just whitespaces:
print("www.cisco.com".lstrip("w."))

print("www.cisco.com".lstrip("w"))

print("pythoninstitute.org".lstrip(".org"))   # nothing happens

cisco.com
.cisco.com
pythoninstitute.org

In [16]:
# 2.3.14 The replace() method
#The two-parameter replace() method returns a copy of the original string in
# which all occurrences of the first argument have been replaced by the second argument.

# Demonstrating the replace() method:
print("www.netacad.com".replace("netacad.com", "pythoninstitute.org"))

print("This is it!".replace("is","are"))
print("Apple Juice".replace("juice",""))

www.pythoninstitute.org
Thare are it!
Apple Juice

In [1]:
print('Peter' 'Wellert')

PeterWellert

In [8]:
print(len('\\\\'))

2

In [ ]:

data = [[x for x in range(y)] for y in range(3)]

for d in data:
    if len(d) < 2:
        print('*')

In [3]:
 #[[x for x in range(y)] for y in range(3)]

for y in range(3):
    for x in range(y):
       print(x)

0
0
1

In [6]:
data = [1, {}, (2,), (), {3}, [4, 5]]
points = 0

print(data)
print(len(data))

[1, {}, (2,), (), {3}, [4, 5]]
6

In [8]:
my_list = [[3-i for i in range(3)] for j in range(3)]
result = 0

print(my_list)

print(result)

for i in range(3):
    result += my_list[i][i]

print(result)

[[3, 2, 1], [3, 2, 1], [3, 2, 1]]
0
6

In [10]:
def func(item):
  print(item)
  item = item + [1]
  print(item)

data = [1, 2, 3, 4]

func(data)

print(len(data))

[1, 2, 3, 4]
[1, 2, 3, 4, 1]
4

In [11]:
x = 16

while x > 0:
    print(x)
    print('*')
    x //= 2
    print(x)

16
*
8
8
*
4
4
*
2
2
*
1
1
*
0

In [15]:
print(1/2)
print(1//2)

0.5
0

In [20]:
print(1%2)
print(1%3)
print(2%3)
print(2%4)
print(3%4)

1
1
2
2
3

In [26]:
fruits1 = ['Apple', 'Pear', 'Banana']
fruits2 = fruits1
fruits3 = fruits1[:]

print(fruits1)
print(fruits2)
print(fruits3)

fruits2[0] = 'Cherry'
fruits3[1] = 'Orange'
print(fruits2)
print(fruits3)

res = 0

for i in (fruits1, fruits2, fruits3):
    if i[0] == 'Cherry':
        print(i[0])
        res += 1
        print(res)
    if i[1] == 'Orange':
        print(i[1])
        res += 10
        print(res)

print(res)

['Apple', 'Pear', 'Banana']
['Apple', 'Pear', 'Banana']
['Apple', 'Pear', 'Banana']
['Cherry', 'Pear', 'Banana']
['Apple', 'Orange', 'Banana']
Cherry
1
Cherry
2
Orange
12
12

In [38]:

# print(len([i for i in range(0, -2)]))

for i in range(-1, -5):
      print(i)

In [41]:
# print(len([i for i in range(0, -2, -1)]))

for i in range(0, -2, -1):
  print(i)

0
-1

In [6]:

foo = (0,0,0,0,1, 2, 3)
print(foo.index(1))
print(foo.index(2))
print(foo.index(3))
print(foo.index(0))

4
5
6
0

In [9]:
data = (1,) * 3
print(data)
data[0] = 2
print(data)

(1, 1, 1)

TypeError: 'tuple' object does not support item assignment

In [12]:
z = 2
y = 1
print(z)
print(y)
print(y < z)
print(z > y)
print(y < z or z > y)
print( y > z or z < y)
print(y < z or z > y and y > z or z < y)
print(x)

#x = y < z or z > y and y > z or z < y

2
1
True
True
True
False
True
True

In [15]:
from sys import argv
print(argv[0])
print(argv[1])
print(argv[2])

/usr/local/lib/python3.12/dist-packages/colab_kernel_launcher.py
-f
/root/.local/share/jupyter/runtime/kernel-71e451c4-a0db-4b94-b037-2b1a9f2acad5.json

In [24]:
nums = [1, 2, 3]
print(nums)
print(nums[::-1])
print(nums[::-1][0])
print(len(nums))
print((len(nums) - nums[::-1][0]))
print(('Peter',) * 0 )

data = ('Peter',) * (len(nums) - nums[::-1][0])
print(data)

[1, 2, 3]
[3, 2, 1]
3
3
0
()
()

In [29]:

data = {'a': 1, 'b': 2, 'c': 3}
#print(data['a', 'b'])
print(data['a'])
print(data['b'])

NameError: name 'a' is not defined

In [30]:
nums = [1, 2, 3]
vals = nums
del vals[:]

print(vals)
print(nums)

[]
[]

In [33]:
data1 = ('a', 'b')
data2 = ('a', 'b')
print(data1 == data2)  # True
print(data1 is data2)  # True
print(id(data1))       # e.g. 140539383900864
print(id(data2))       # e.g. 140539383900864 (the same number)

True
False
134417805147712
134417804876992

In [39]:
data = {'z': 23, 'x': 7, 'y': 42}

for _ in sorted(data):
    print(data[_], end=' ')

7 42 23

In [40]:
a = 1
b = 0
c = a & b
d = a | b
e = a ^ b

print(c,d,e)
#print(c + d + e)

0 1 1

In [41]:
try:
    print(7 / 0)
except (TypeError, ValueError, ZeroDivisionError):
    print("That is not allowed!")

That is not allowed!

In [43]:
w = 3
z = True
a = w/z
print(a)

3.0

In [4]:
    data = {'name': 'Peter', 'age': 30}
    person = data.copy()
    print(id(data) == id(person))  # False

    print(id(data))
    print(id(person))

    person = data
    print(id(data) == id(person))  # True

False
135849221639808
135849221389440
True

In [2]:
    x = '\\\\'
    print(len(x))

2

In [2]:
marks = [80, 70, 90, 90, 80, 100]

print(sum(marks))

print(len(marks))

average = sum(marks) // len(marks)

510
6

In [5]:
str1 = 'Peter'
str2 = str1[:]
# str2 = str1        # The same thing

print(id(str1))  # e.g. 140539652049216
print(id(str2))  # e.g. 140539652049216 (the same number than str1)

135849221724640
135849221724640

In [6]:
def func(x):
    if x % 2 == 0:
        return 1
    else:
        return


print(func(func(2)) + 1)

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [7]:
    data = {'Peter': 30, 'Paul': 31}
    print(list(data.keys()))

['Peter', 'Paul']

In [8]:
    def func(n):
        s = ''
        for i in range(n):
            s += '*'
            yield s


    for x in func(3):
        print(x, end='')

******

In [9]:
    data = {'name': 'Peter', 'age': 30}
    person = data.copy()
    print(id(data) == id(person))

False

In [10]:
    data = {'name': 'Peter', 'age': 30}
    person = data.copy()
    print(id(data) == id(person))  # False

    person = data
    print(id(data) == id(person))  # True

False
True

In [11]:
    data = (1, 2, 4, 8)
    data = data[-2:-1]
    data = data[-1]
    print(data)

4

In [12]:
    try:
        raise Exception
    except BaseException:
        print('1')
    except Exception:
        print('2')
    except:
        print('3')

1

In [13]:
    my_list = [1, 2]

    for v in range(2):
        my_list.insert(-1, my_list[v])

    print(my_list)

[1, 1, 1, 2]

In [16]:
    str1 = 'Peter'
    str2 = str1[:]

    print(id(str1))
    print(id(str2))

135849221724640
135849221724640

In [17]:
    def func(x):
        if x % 2 == 0:
            return 1
        else:
            return


    print(func(func(2)) + 1)

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [18]:
def func(x):
    if x % 2 == 0:
        return 1
    else:
        return


print(func(func(2)) + 1)

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [19]:
    def func(x=2, y=3):
        return x * y


    print(func(y=2))

4

In [20]:
    x, y, z = 3, 2, 1
    z, y, x = x, y, z
    print(x, y, z)

1 2 3

In [21]:
    data = ['abc', 'def', 'abcde', 'efg']
    print(max(data))

efg

In [22]:
    value = input("Enter a value: ")
    print(int(value)/int(value))

Enter a value: 0

ZeroDivisionError: division by zero

In [23]:
    s = 'python'
    for i in range(len(s)):
        i = s[i].upper()
        # s[i] = s[i].upper()  # TypeError: ...
    print(s, end="")           # python

python

In [2]:
print(float(1, 3))

TypeError: float expected at most 1 argument, got 2

In [4]:
    data = ((1, 2),) * 7
    print(len(data[3:50]))

4

In [5]:
    data = {'one': 'two', 'two': 'three', 'three': 'one'}
    res = data['three']

    for _ in range(len(data)):
        res = data[res]

    print(res)

one

In [6]:
    nums = []
    vals = nums[:]
    vals.append(1)
    print(nums)  # []
    print(vals)  # [1]

[]
[1]

In [7]:
my_tuple = (1, 2, 3)
my_tuple[1] = my_tuple[1] + my_tuple[0]

TypeError: 'tuple' object does not support item assignment

In [8]:
    print('Enter Your Name: ')
    name = input()
    print(name)

Enter Your Name:
satya
satya

In [9]:
    rates = (1.2, 1.4, 1.0)
    new = rates[3:]
    for rate in rates[-2:]:
        new += (rate,)
    print(len(new))

2

In [1]:
print(list('hello'))

['h', 'e', 'l', 'l', 'o']

In [6]:

def func(x):
    if x % 2 == 0:
        return 1
    else:
        return

#func(1+1)
print(func(1 + 1))

1

In [7]:
print(None + 1)

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'