<a href="https://colab.research.google.com/github/satyazprakash/PythonPractise/blob/main/Python_Datatype_String_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Strings
# Strings in python are surrounded by either single quotation marks, or double quotation marks.
# You can display a string literal with the print() function:

print('Hello')
print("Hello")

x = 'Welcome'
print(x[0])
print(x[:])
print(x[3])

Hello
Hello
W
Welcome
c

In [ ]:
#Quotes Inside Quotes
#You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

print("it's alright")
print("He is called 'Jonny'")
print('He is called "Jonny"')

it's alright
He is called 'Jonny'
He is called "Jonny"

In [ ]:
# Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

a='Hello'

print(a)

Hello

In [ ]:
# You can assign a multiline string to a variable by using three quotes:

# Using Single quotes
a = ''' This is a sample multi line variable
the name assigned to it is Ram
Ram ji is called by Hanuman '''

print(a)

# Using Double quotes
a = """ This is a sample multi line variable
the name assigned to it is Ram
Ram ji is called by Hanuman as Jai Siya Ram """

print(a)

 This is a sample multi line variable
the name assigned to it is Ram
Ram ji is called by Hanuman
 This is a sample multi line variable
the name assigned to it is Ram
Ram ji is called by Hanuman as Jai Siya Ram

In [ ]:

#Strings are Arrays
# Like many other popular programming languages, strings in Python are arrays of unicode characters.

# However, Python does not have a character data type, a single character is simply a string with a length of 1.

# Square brackets can be used to access elements of the string.

# Get the character at position 1 (remember that the first character has the position 0):

a="Hello World String"
print(a[1])   # Printing the second Character

e

In [ ]:
# Looping Through a String
# Since strings are arrays, we can loop through the characters in a string, with a for loop.

for x in "hello world!":
  print(x)
  print(x,end="")

h
he
el
ll
lo
o
 w
wo
or
rl
ld
d!
!

In [ ]:
# String Length
# To get the length of a string, use the len() function.

x = "This is a new string for which we want to check length"
y=len(x)   # length inputted in Y variable

print(y)  # Print value present in Y variable
print(len(x))   # Print the lenght of String x
loop_count=0

for _ in x:
  print(_)    # prints the value of character for which the loop is running
  loop_count = loop_count+1   # incrementing the counter to check how many times the loop is executing

print(x)   # Printing the string
print(loop_count)  # Printing the length of the string extracted by printing the loop counter

54
54
T
h
i
s

i
s

a

n
e
w

s
t
r
i
n
g

f
o
r

w
h
i
c
h

w
e

w
a
n
t

t
o

c
h
e
c
k

l
e
n
g
t
h
This is a new string for which we want to check length
54

In [ ]:
# Check String
# To check if a certain phrase or character is present in a string, we can use the keyword in.

# Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

# use and if statement for consitional logic

txt = "The best things in life are free!"

if "free" in txt:
  print("Yes, 'free' is present in the string held by txt string")

True
Yes, 'free' is present in the string held by txt string

In [ ]:
# Check if NOT
# To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.


txt = "The best things in life are free!"
print("satya" not in txt)

# Use it in an if statement:
# print only if "satya" is NOT present:

txt = "The best things in life are free!"
if "satya" not in txt:
  print("No, 'satya' is NOT present in the string txt")

True
No, 'satya' is NOT present in the string txt

### **# Python - Slicing Strings**

In [ ]:
# Python - Slicing Strings
# You can return a range of characters by using the slice syntax.

# Specify the start index and the end index, separated by a colon, to return a part of the string.


# Get the characters from position 2 to position 5 (not included): Note: The first character has index 0.

b = "Hello, World!"
print(b[2:5])

llo

In [ ]:
#Slice From the Start
#By leaving out the start index, the range will start at the first character:

# Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])

Hello

In [ ]:
#Slice To the End
#By leaving out the end index, the range will go to the end:

# Get the characters from position 2, and all the way to the end:

b = "Hello, World!"

print(b[2:])

llo, World!

In [ ]:
# Negative Indexing
# Use negative indexes to start the slice from the end of the string:

#Get the characters: From: "o" in "World!" (position -5)
#To, but not included: "d" in "World!" (position -2):

b = "Hello, World!"

print(b[-5:-2])

orl

# **Python - Modify Strings**
Python has a set of built-in methods that you can use on strings.

In [ ]:
# Upper Case
# The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
# Lower Case
# The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())
b = a.lower()
print(b)

hello, world!
hello, world!

In [ ]:
# Remove Whitespace
# Whitespace is the space before and/or after the actual text, and very often you want to remove this space.


# The strip() method removes any whitespace from the beginning or the end:

a = " Hello,    World!   "
print(a.strip())

b=a.strip()
print(b)

Hello,    World!
Hello,    World!

In [ ]:
# Replace String
# The replace() method replaces a string with another string:

a = "Hello, World!"
b = a.replace("H","J")

print(a.replace("H","J"))

print(b)

Jello, World!
Jello, World!

In [ ]:
# Split String
# The split() method returns a list where the text between the specified separator becomes the list items.

# The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
b = a.split(",")
c,d = a.split(",")

print(a.split(","))
print(b)
print(c)
print(d)

['Hello', ' World!']
['Hello', ' World!']
Hello
 World!

# **Python String Methods**

In [ ]:
## Python has a set of built-in methods that you can use on strings.
# Note: All string methods returns new values. They do not change the original string.

a = "hello, world!"
print(a.capitalize(), " # captialize() Converts the first character to upper case ")

a="HELLO WORLD!"
print(a.casefold(),   " # Casefold() Converts string into lower case ")

print(a.encode(),   " # encode()  Returns an encoded version of the string ")

a="Hello World123"
print(a.isalnum(), "	# isalnum() Returns True if all characters in the string are alphanumeric ")

a="Hello World"
print(a.isalpha(), " # isalpha() returns True if all characters in the string are in the alphabet ")
print(a.isascii(), " # isascii() returns True if all characters in the string are ascii characters ")

a="12345.0"
print("12345.0".isdecimal(),	" isdecimal()  returns True if all characters in the string are decimals ")

a="123456"
print(a.isdigit(), "# isdigit returns True if all characters in the string are digits ")
print(a.isidentifier(), " isidentified() returns True if the string is an identifier")

a="string in lower case "
print(a.islower(), " # islower()returns True if all characters in the string are lower case ")

a="123456"
print(a.isnumeric(), " isnumeric() returns True if all characters in the string are numeric ")
print(a.isprintable(), " isprintable returns True if all characters in the string are printable ")

a="          "
print(a.isspace(), " isspace() returns True if all characters in the string are whitespaces ")

a="My Name is Satya Prakash"
print(a.istitle(), " istitle() returns() True if the string follows the rules of a title ")

a="THIS STRING IS IN UPPERCASE"
print(a.isupper(), " isupper() returns True if all characters in the string are upper case ")
print(a.lower(), " lower() Converts a string into lower case ")

a="                 String with left padded Spaces"
print(a.lstrip(), "lstrip()	returns a left trim version of the string ")

a=" String with Right Padded Spaces              "
print(a.strip(), " strip() a trimmed version of the string ")
print(a.swapcase(), " swapcase()  Swaps cases, lower case becomes upper case and vice versa ")

a="wANT tO cONVERT to tITLE cASE"
print(a.title(), "title()  Converts the first character of each word to upper case ")

a=" this is an entire lower sting text which i am trying to convert to uppercase "
print(a.upper(), "upper()  Converts a string into upper case")

a= " THis is a string with added spaces on both sides, check if rstripworked          "
print(a.rstrip(), " rstrip() returns a right trim version of the string ")

a= "L This String starts with letter L check if starts with is able to check correctly    world!      "
print(a.startswith("L"), " startswith1() returns true if the string starts with the specified value ")

a= "L This String starts with letter L check if starts with is able to check correctly    world!      "
print(a.split(" ")," split(), it Splits the string at the specified separator, and  returns a list ")

a= "L This String, starts with letter L, check if starts, with is able, to check, correctly    world! ,   ,  "
print(a.rsplit(","),	" rsplit() Splits the string at the specified separator, and Returns a list ")

a= "L This String, starts with letter L, check if starts, with is able, to check, correctly    world! ,   ,  "
print(a.splitlines(),	"splitlines() Splits the string at line breaks and Returns a list")

a= "L This String, starts with letter L, check if starts, with is able, to check, correctly    world! ,   ,  "
print(a.index("world!"), "  # Searches the string for a specified value and returns the position of where it was found")

a= "L This String, starts with letter L, check if starts, with is able, to check, correctly    world! ,   ,  "
print(a.rindex("world!"),	" rindex() Searches the string for a specified value and Returns the last position of where it was found")

a= "L This String, starts with letter L, check if starts, with is able, to check, correctly    world! ,   ,  "
print(a.find("world!"), " find() Searches the string for a specified value and returns the position of where it was found")

a= "L This String, starts with letter L, check if starts, with is able, to check, correctly    world! ,   ,  "
print(a.endswith(","), "endswith() Returns true if the string ends with the specified value")

print(a.rfind("c"), "  # rfind() Searches the string for a specified value and Returns the last position of where it was found")

a= "L This String, is right Justified   "
print(a.rjust(100, " "), " rjust() returns a right justified version of the string ")

a= "L This String, is CENTRE Justified   "
print(a.center(100, " "), " center()  Returns a centered string  ERROR ")

print(a.ljust(100, " "), " ljust() returns a left justified version of the string")

a="wANT tO cONVERT to tITLE cASE"
print(a.count("O"), "  count()	Returns the number of times a specified value occurs in a string")
print(a.endswith("E"), "	endswith()  Returns true if the string ends with the specified value")

a="Testing this String for hte purpose of zfill() function "
print(a.zfill(150), "  zfill()  Fills the string with a specified number of 0 values at the beginning")

a="wANT tO cONVERT to tITLE cASE for the purpose to validae replace function to"
print(a.replace("to","satya"),"  replace()  Returns a string where a specified value is replaced with a specified value")

a="wANT tO cONVERT to tITLE cASE for the purpose to validae replace function to"
print(a.index("o"), " index() Searches the string for a specified value and returns the position of where it was found")

a="wANT tO cONVERT to tITLE cASE for the purpose to validae replace function to"
print(a.partition("to")," partition() returns a tuple where the string is parted into three parts")

a="wANT tO cONVERT to tITLE cASE for the purpose to validae replace function to"
print(a.rpartition("to")," rpartition() returns a tuple where the string is parted into three parts ")

a="wANT tO cONVERT to tITLE cASE for the purpose to validae replace function to"
print(a.expandtabs(4),"expandtabs() returns Sets the tab size of the string")

print()
print()
print()
print()
'''



 format()	# Formats specified values in a string
 format_map()  #	Formats specified values from a dictionary in a string
join()	              # Converts the elements of an iterable into a string
maketrans()	      # a translation table to be used in translations
translate()	      # a translated string
'''

Hello, world!  # captialize() Converts the first character to upper case
hello world!  # Casefold() Converts string into lower case
b'HELLO WORLD!'  # encode()  Returns an encoded version of the string
False 	# isalnum() Returns True if all characters in the string are alphanumeric
False  # isalpha() returns True if all characters in the string are in the alphabet
True  # isascii() returns True if all characters in the string are ascii characters
False  isdecimal()  returns True if all characters in the string are decimals
True # isdigit returns True if all characters in the string are digits
False  isidentified() returns True if the string is an identifier
True  # islower()returns True if all characters in the string are lower case
True  isnumeric() returns True if all characters in the string are numeric
True  isprintable returns True if all characters in the string are printable
True  isspace() returns True if all characters in the string are whitespaces
False  istitle() returns() True if the string follows the rules of a title
True  isupper() returns True if all characters in the string are upper case
this string is in uppercase  lower() Converts a string into lower case
String with left padded Spaces lstrip()	returns a left trim version of the string
String with Right Padded Spaces  strip() a trimmed version of the string
 sTRING WITH rIGHT pADDED sPACES                swapcase()  Swaps cases, lower case becomes upper case and vice versa
Want To Convert To Title Case title()  Converts the first character of each word to upper case
 THIS IS AN ENTIRE LOWER STING TEXT WHICH I AM TRYING TO CONVERT TO UPPERCASE  upper()  Converts a string into upper case
 THis is a string with added spaces on both sides, check if rstripworked  rstrip() returns a right trim version of the string
True  startswith1() returns true if the string starts with the specified value
['L', 'This', 'String', 'starts', 'with', 'letter', 'L', 'check', 'if', 'starts', 'with', 'is', 'able', 'to', 'check', 'correctly', '', '', '', 'world!', '', '', '', '', '', '']  split(), it Splits the string at the specified separator, and  returns a list
['L This String', ' starts with letter L', ' check if starts', ' with is able', ' to check', ' correctly    world! ', '   ', '  ']  rsplit() Splits the string at the specified separator, and Returns a list
['L This String, starts with letter L, check if starts, with is able, to check, correctly    world! ,   ,  '] splitlines() Splits the string at line breaks and Returns a list
91   # Searches the string for a specified value and returns the position of where it was found
91  rindex() Searches the string for a specified value and Returns the last position of where it was found
91  find() Searches the string for a specified value and returns the position of where it was found
False endswith() Returns true if the string ends with the specified value
83   # rfind() Searches the string for a specified value and Returns the last position of where it was found
                                                                L This String, is right Justified     rjust() returns a right justified version of the string
                               L This String, is CENTRE Justified                                     center()  Returns a centered string  ERROR
L This String, is CENTRE Justified                                                                    ljust() returns a left justified version of the string
2   count()	Returns the number of times a specified value occurs in a string
True 	endswith()  Returns true if the string ends with the specified value
0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000Testing this String for hte purpose of zfill() function    zfill()  Fills the string with a specified number of 0 values at the beginning
wANT tO cONVERT satya tITLE cASE for the purpose satya validae replace function satya   replace()  Returns a string where a specified value is replaced with a specified value
17  index() Searches the string for a specified value and returns the position of where it was found
('wANT tO cONVERT ', 'to', ' tITLE cASE for the purpose to validae replace function to')  partition() returns a tuple where the string is parted into three parts
('wANT tO cONVERT to tITLE cASE for the purpose to validae replace function ', 'to', '')  rpartition() returns a tuple where the string is parted into three parts
wANT tO cONVERT to tITLE cASE for the purpose to validae replace function to expandtabs() returns Sets the tab size of the string

'\n\n\n\n format()\t# Formats specified values in a string\n format_map()  #\tFormats specified values from a dictionary in a string\njoin()\t              # Converts the elements of an iterable into a string\nmaketrans()\t      # a translation table to be used in translations\ntranslate()\t      # a translated string\n'

# **Python - String Concatenation**

In [ ]:
# To concatenate, or combine, two strings you can use the + operator.

# Merge variable a with variable b into variable c:

a = "Hello"
b="world"
c=a+b
print(c)

Hello world

In [ ]:
# To add a space between them, add a " ":

a = "Hello"
b="world"
c= a + " " + b

print(c)

Hello world

# **Python - Format - Strings**

In [ ]:
#String Format
# As we learned in the Python Variables , we cannot combine strings and numbers like this:

age = 36
#This will produce an error:
txt = "My name is John, I am " + age

print(txt)

TypeError: can only concatenate str (not "int") to str

### **But we can combine strings and numbers by using f-strings or the format() method!**

In [ ]:
# But we can combine strings and numbers by using f-strings or the format() method!

#F-Strings
#F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

# To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

# Example Create an f-string:

age = 40
txt = f"My name is Satya, I am {age}"
print(txt)

My name is Satya, I am 40

##Placeholders and Modifiers
###A placeholder can contain variables, operations, functions, and modifiers to format the value.

In [ ]:
# Example Add a placeholder for the price variable:

price = 59
txt = f"The price is {price} dollars."
print(txt)

# A placeholder can contain Python code, like math operations: Perform a math operation in the placeholder, and return the result:
txt = f"Twice the price is {price + price} dollars."
print(txt)

# A placeholder can include a modifier to format the value.
# A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:

price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59 dollars.
Twice the price is 118 dollars.
The price is 59.00 dollars

#** Escape Characters **

In [ ]:
# Escape Character
# To insert characters that are illegal in a string, use an escape character.
# An escape character is a backslash \ followed by the character you want to insert.
# An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

# Example: You will get an error if you use double quotes inside a string that is surrounded by double quotes:

txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (ipython-input-2166598672.py, line 8)

In [ ]:
# To fix this problem, use the escape character \": The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [ ]:
# Other Escape Characters:

txt = 'It\'s alright.'
print(txt)

txt = "This will insert one \\ (backslash)."
print(txt)

txt = "Hello \n World"
print(txt)

txt = "Hello \r World"
print(txt)


txt = "Hello \t \t \t World"
print(txt)

#This example erases one character (backspace):
txt = "Hello \bWorld"
print(txt)


txt = "Hello \f World"
print(txt)

#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

It's alright.
This will insert one \ (backslash).
Hello
 World
 World
Hello 	 	 	 World
Hello World
Hello  World
Hello
Hello